/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #f8fafc;
}

html.dark {
  background-color: #020617;
}

body {
  min-height: 100vh;
  background-color: #f8fafc;
}

html.dark body {
  background-color: #020617;
}